@import "variables";
@import "general";
@import "navbar";
@import "left_pane";
@import "right_pane";
@import "playbar";

.app {
  background-color: $primary;
  display: grid;
  height: 100%;
  width: 100%;

  overflow: hidden;

  /* grid layout */
  grid-template-columns: 0.75fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar navbar"
    "left right"
    "playbar playbar";

  .openFiles-input,
  .addFiles-input {
    display: none;
  }

  audio {
    display: none !important;
  }
}
