.left-pane {
  grid-area: left;

  grid-template-rows: 1fr auto;
  justify-items: center;
  align-items: center;
  display: grid;

  background-color: $primary;
  height: 100%;
  width: 100%;

  overflow: auto;
  overflow-x: hidden;

  /* grid item */
  .left-pane__item {
    justify-content: center;
    align-items: center;
    display: flex;

    user-select: none;

    height: 100%;
    width: 100%;

    &:first-child {
      padding: 20px;
    }
  }
}

#file,
#album,
#lyrics,
#playlists,
#theme {
  justify-content: center;
  align-items: center;
  display: flex;

  height: 100%;
  width: 100%;

  // color: $third; // possible to add to the theme later

  &.show {
    display: flex;
  }

  &.hide {
    display: none;
  }
}

/* file management */
#file {
  .file__content {
    height: 100%;
    width: 100%;

    justify-content: center;
    align-items: center;
    display: flex;

    flex-direction: column;
  }

  .drag-files,
  .open-files,
  .add-files {
    justify-content: center;
    align-items: center;
    display: flex;

    margin-bottom: 20px;
    padding: 20px;

    min-width: 200px;
    width: 50%;

    border: 3px solid lighten($primary, 4%);
    transition: all 200ms ease;

    &:hover {
      border: 3px solid $secondary;
    }
  }

  .open-files,
  .add-files {
    cursor: pointer;

    div {
      white-space: nowrap;
      text-align: center;
      margin-left: 10px;
      width: 100px;
    }

    i {
      cursor: pointer;
    }
  }

  .drag-files {
    flex-direction: column;
  }
}

/* album cover */
#album {
  border: 4px solid lighten($color: $primary, $amount: 4%);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);

  background-image: url("../images/revelations.jpg");
  background-color: lighten($primary, 4%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 80%;
  left: 0;
  top: 0;
}

/* lyrics container */
#lyrics {
  .lyrics__content {
    height: 100%;
    width: 75%;

    min-width: 300px;

    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
  }
}

/* playlists container */
#playlists {
  .playlists__content {
    height: 100%;
    width: 100%;

    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;

    .new-playlist {
      justify-content: center;
      align-items: center;
      display: flex;

      cursor: pointer;

      min-width: 250px;
      width: 50%;

      border: 3px solid lighten($primary, 4%);
      margin-bottom: 20px;
      padding: 20px;

      &:hover {
        border: 3px solid $secondary;
      }

      i {
        cursor: pointer;
      }

      div {
        white-space: nowrap;
        margin: 0 10px;
      }

      input {
        display: none;
      }
    }

    .playlist__list {
      text-align: center;
      list-style: none;

      min-width: 250px;
      width: 50%;

      padding: 0;

      li {
        border-top: 3px solid lighten($primary, 4%);
        transition: all 200ms ease;

        overflow-wrap: break-word;
        padding: 20px;

        &:last-child {
          border-bottom: 3px solid lighten($primary, 4%);
          margin-bottom: 0;

          &:hover {
            border-bottom: 3px solid $secondary;
          }
        }

        &:hover {
          border-top: 3px solid $secondary;
          background-color: $secondary;

          & + li {
            border-top: 3px solid $secondary;
          }
        }
      }
    }
  }
}

#theme {
  border: 1px solid green;
}

/* wrap - previous, play, pause, next controls */
.left-pane__controls {
  justify-content: center;
  align-items: center;
  display: flex;

  height: 125px;
  width: 100%;

  border-top: 3px solid $secondary;

  .play-pause {
    margin: 0 20px;
  }

  /* controls - containers [not icons] */
  .previous,
  .play-pause,
  .next {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0);
    border: 2px solid $third;
    color: $third;

    transition: all 200ms ease;
    user-select: none;

    justify-content: center;
    align-items: center;
    display: flex;

    border-radius: 50px;
    height: 50px;
    width: 50px;

    &:hover {
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
      border: 2px solid rgba(255, 255, 255, 1);
      color: rgb(255, 255, 255);
    }
  }
}
