.left-pane {
  grid-area: left;

  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  display: grid;

  background-color: $primary;
  height: 100%;
  width: 100%;

  overflow: auto;
  overflow-x: hidden;

  font-size: 14px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $primary;
  }

  &::-webkit-scrollbar-thumb {
    background: $third;
  }

  &::-webkit-scrollbar-thumb {
    &:hover {
      background: lighten($primary, 4%);
    }
  }

  /* grid item */
  .left-pane__item {
    justify-content: center;
    align-items: center;
    display: flex;

    position: relative;
    user-select: none;

    height: 100%;
    width: 100%;

    z-index: 10;

    &:first-child {
      padding: 20px;
    }
  }
}

#file,
#album,
#lyrics,
#playlists,
#theme {
  justify-content: center;
  align-items: center;
  display: flex;

  height: 100%;
  width: 100%;

  // color: $third; // possible to add to the theme later

  &.show {
    display: flex;
  }

  &.hide {
    display: none;
  }
}

/* file management */
#file {
  .file__content {
    height: 100%;
    width: 100%;

    justify-content: center;
    align-items: center;
    display: flex;

    flex-direction: column;
  }

  .drag-files,
  .open-files,
  .add-files {
    justify-content: center;
    align-items: center;
    display: flex;

    flex-direction: column;

    margin-bottom: 20px;
    padding: 20px 0;

    min-width: 100px;
    width: 80%;

    border: 3px solid lighten($primary, 4%);
    transition: border 200ms ease;

    &:active {
      -webkit-tap-highlight-color: transparent;
      background-color: lighten($primary, 4%);
      outline: none;
    }
  }

  .open-files {
    i {
      margin-bottom: 5px;
    }
  }

  .open-files,
  .add-files {
    cursor: pointer;
    height: 110px;

    div {
      white-space: nowrap;
      text-align: center;
      width: 100px;
    }

    i {
      cursor: pointer;

      &.size {
        font-size: 36px;
      }
    }
  }

  .drag-files {
    flex-direction: column;
    display: none;
  }

  .add-files {
    margin-bottom: 0;
  }
}

/* album cover */
#album {
  // border: 4px solid lighten($color: $primary, $amount: 4%);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
  position: relative;

  background-image: url("../images/1.jpg");
  background-color: lighten($primary, 4%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: auto;
  width: 80%;

  .reflection {
    background-position: center bottom;
    background-image: inherit;
    background-size: 0;

    transform: scaleY(-1);
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    height: 15%;

    .reflection__img {
      background-position: center bottom;
      background-image: inherit;
      background-size: cover;
      opacity: 0.5;

      position: absolute;
      left: 0;
      top: 0;

      width: 100.1%;
      height: 100%;
    }

    .reflection__shadow {
      background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0));
      transform: scaleY(-1);
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100.1%;
      height: 50%;
    }

    &::after {
      background: linear-gradient(rgba(0, 0, 0, 0), $primary 80%);
      transform: scaleY(-1);
      position: absolute;
      content: "";

      height: calc(100% + 5px);
      width: 100.2%;

      z-index: 1;
      bottom: 0;
      left: 0;
    }
  }
}

/* lyrics container */
#lyrics {
  text-overflow: ellipsis;
  overflow: hidden;

  .lyrics__content {
    height: 100%;
    width: 100%;

    border: 1px solid red;

    min-width: 200px;

    overflow: hidden;
    text-overflow: ellipsis;

    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
  }
}

/* playlists container */
#playlists {
  .playlists__content {
    height: 100%;
    width: 100%;

    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;

    .playlist__btn,
    .playlist__input-container {
      justify-content: center;
      align-items: center;
      display: flex;

      min-width: 250px;
      height: 100px;
      width: 50%;

      transition: border 200ms ease;
      border: 3px solid lighten($primary, 4%);
      padding: 20px;
    }

    .playlist__btn {
      cursor: pointer;

      &.hide {
        display: none;
      }

      &:hover {
        border: 3px solid $secondary;
      }

      i {
        cursor: pointer;
      }

      div {
        white-space: nowrap;
        margin: 0 10px;
      }

      input {
        display: none;
      }
    }

    .playlist__input-container {
      flex-direction: column;
      padding: 0;

      label {
        margin-bottom: 10px;
      }

      input {
        background-color: $primary;
        border: none;
        outline: 0;
        color: white;
        // border-bottom: 3px solid lighten($primary, 4%);
        padding: 2px;
        font-family: "Saira-SemiBold";
        text-align: center;
        font-size: 14px;

        height: 100%;
        width: 100%;

        &::placeholder {
          color: $third;
        }
      }

      &.hide {
        display: none;
      }
    }

    .playlist__ul {
      text-align: center;
      list-style: none;

      min-width: 250px;
      width: 50%;

      margin-top: 40px;
      padding: 0;

      &.hide {
        display: none;
      }

      li {
        border-top: 3px solid lighten($primary, 4%);
        transition: all 200ms ease;

        overflow-wrap: break-word;
        padding: 20px;

        &:last-child {
          border-bottom: 3px solid lighten($primary, 4%);
          margin-bottom: 0;

          &:hover {
            border-bottom: 3px solid $secondary;
          }
        }

        &:hover {
          border-top: 3px solid $secondary;
          background-color: $secondary;

          & + li {
            border-top: 3px solid $secondary;
          }
        }
      }
    }
  }
}

#theme {
  border: 1px solid green;
}

/* --------------------------- */
/* --------- TABLETS --------- */
/* --------------------------- */
@media screen and (min-width: 641px) and (max-width: 1280px) {
  #file {
    .drag-files,
    .open-files,
    .add-files {
      flex-direction: row;

      min-width: 220px;
      width: 60%;

    }

    .open-files {
      i {
        margin-bottom: 0;
      }
    }

    .open-files,
    .add-files {
      height: auto;

      div {
        margin-left: 10px;
      }

      i.size {
        font-size: 48px;
      }
    }
  }
}

/* --------------------------- */
/* --------- DESKTOP --------- */
/* --------------------------- */
@media screen and (min-width: 1281px) {
  #file {
    .drag-files,
    .open-files,
    .add-files {
      flex-direction: row;
      display: flex;

      min-width: 250px;
      width: 50%;

      &:hover {
        border: 3px solid $secondary;
      }

      &:active {
        -webkit-tap-highlight-color: transparent;
        background-color: transparent;
        border: 3px solid $secondary;
        outline: none;
      }
    }

    .open-files {
      i {
        margin-bottom: 0;
      }
    }

    .drag-files {
      flex-direction: column;

      i.size {
        font-size: 150px;
      }
    }

    .open-files,
    .add-files {
      height: auto;

      div {
        margin-left: 10px;
      }

      i.size {
        font-size: 48px;
      }
    }
  }
}
