.navbar {
  grid-area: navbar;

  background-color: lighten($primary, 4%);
  color: lighten($third, 10%);

  z-index: 999;
  height: 25px;
  width: 100%;

  /* grid layout */
  grid-template-columns: 0.75fr 1fr;
  align-items: center;
  display: grid;

  font-size: 14px;
  /* grid item */
  .navbar__container {
    justify-content: left;
    align-items: center;
    display: flex;
    height: 100%;

    white-space: nowrap;
    user-select: none;
    cursor: default;

    /* 2nd grid item */
    &:nth-child(2) {
      border-left: 3px solid $secondary;
      justify-content: center;
    }

    /* link items [Left Pane] */
    .navbar__item {
      margin-right: 3px;
      padding: 0 10px;

      height: 25px;

      align-items: center;
      display: flex;

      border: 1px solid rgba(255, 255, 255, 0);
      transition: all 200ms ease;

      &:hover:not(.active) {
        border: 1px solid;
      }

      /* active or selected link [index] */
      &.active {
        background: $primary;
      }
    }
  }
}
