/* whole playbar container */
.playbar {
  background-color: $secondary;
  grid-area: playbar;
  display: flex;
  height: 32px;
  width: 100%;

  font-family: "Roboto-Bold";

  color: $third;
  z-index: 10;

  user-select: none;
  font-size: 14px;
}

/* current time, progress and song time */
.playbar__progress {
  height: 100%;
  width: 100%;

  align-items: center;
  text-align: center;
  display: flex;

  cursor: default;

  .current-time,
  .duration {
    white-space: nowrap;
    user-select: none;
    padding: 0 17px;
    width: auto;
  }

  .duration {
    padding-right: 7px;
  }

  .current-time {
    padding-left: 10px;
  }

  /* bar for entire song duration */
  .progress-bar {
    background-color: $primary;
    height: 5px;
    width: 100%;

    display: flex;

    &:hover {
      .line {
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
        background-color: rgb(255, 255, 255);
      }
    }

    /* fill or line */
    .line {
      box-shadow: 0px 0px 5px rgba(255, 255, 255, 0);
      transition: all 200ms ease;
      background-color: $third;
      width: 69%;
    }
  }
}

/* wrap - previous, play, pause, next controls */
.playbar__left-controls {
  justify-content: center;
  align-items: center;
  display: flex;

  margin-left: 10px;

  /* controls - containers [not icons] */
  .previous,
  .play-pause,
  .next {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0);
    border: 2px solid rgba(0, 0, 0, 0);
    color: $third;

    height: 100%;
    width: 30px;

    transition: all 200ms ease;
    user-select: none;

    justify-content: center;
    align-items: center;
    display: flex;

    &:hover {
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
      color: rgb(255, 255, 255);
    }
  }
}

/* repeat, shuffle and volume controls */
.playbar__right-controls {
  user-select: none;
  height: 100%;

  background-color: $secondary;
  color: $third;
  display: flex;

  /* repeat, shuffle and volume containers */
  .playbar__repeat,
  .playbar__shuffle,
  .playbar__volume {
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;

    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0);
    transition: all 200ms ease;
    width: 35px;

    /* when selected */
    &.selected {
      text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
      color: rgb(255, 255, 255);
    }

    &:hover:not(.selected) {
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
      color: rgb(255, 255, 255);

      .volume__wrap {
        transform: translate3d(0, 0, 0);
      }
    }
  }

  /* volume line container */
  .volume__wrap {
    background-color: $secondary;
    max-height: 70vh;
    height: 200px;
    width: 35px;

    transform: translate3d(110%, 0, 0);
    transition: all 250ms ease;
    z-index: -1;

    position: absolute;
    bottom: 32px;
    left: 0;

    justify-content: center;
    align-items: center;
    display: flex;

    /* bar inside */
    .bar {
      background-color: $primary;
      transition: all 0.25s ease;
      height: 80%;
      width: 20%;

      display: flex;

      &:hover {
        .line {
          box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
          background-color: rgb(255, 255, 255);
        }
      }

      /* fill or line */
      .line {
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0);
        transition: all 200ms ease;
        background-color: $third;
        align-self: flex-end;
        border-radius: 1px;
        height: 75%;
        width: 100%;
      }
    }
  }
}
