.right-pane {
  grid-area: right;

  justify-content: center;
  align-items: center;
  display: flex;

  height: 100%;
  width: 100%;

  border-left: 3px solid $secondary;

  .right-pane__content {
    height: 100%;
    width: 100%;
  }
}
