.right-pane {
  grid-area: right;

  height: 100%;
  width: 100%;

  border-left: 3px solid $secondary;
  overflow: auto;

  .right-pane__content {
    justify-items: center;
    align-items: center;
    // display: grid;

    height: 100%;
    width: 100%;

    user-select: none;

    /* <ul> element */
    .audioFilesList {
      padding: 0;
      margin: 0;
      list-style-type: none;
      padding: 20px;
      font-family: "Roboto-Regular";
      color: $third;
      font-size: 13px;

      li {
        padding: 0px 10px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        white-space: nowrap;

        &.selectedLi {
          background-color: lighten($primary, 4%);
        }

        &:hover {
          background-color: lighten($primary, 4%);
        }

        .track-number {
          width: 25px;
          margin-right: auto;
          text-align: left;
          font-size: 12px;
          
        }

        .song-title {
          width: 100%;
          padding: 0 4px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: "Saira-Regular";
        }

        .song-duration {
          width: 75px;
          text-overflow: ellipsis;
          overflow: hidden;
          text-align: right;
        }
      }
    }
  }
}
