.right-pane {
  grid-area: right;

  border-left: 3px solid $secondary;

  height: 100%;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $primary;
  }

  &::-webkit-scrollbar-thumb {
    background: $third;
  }

  &::-webkit-scrollbar-thumb {
    &:hover {
      background: lighten($primary, 4%);
    }
  }

  .right-pane__content {
    user-select: none;
    padding: 20px;

    audio {
      display: none;
    }
  }

  /* [Album] element */
  .album[data-album="unknown"] {
    display: block;

    &.hidden {
      display: none;
    }
  }

  .album {
    font-family: "Saira-Medium";
    font-size: 13px;
    width: 100%;

    color: $third;

    .album__info {
      grid-template-rows: 18px 30px 14px 8px;
      grid-template-columns: 70px 1fr;
      grid-template-areas:
        "artwork band"
        "artwork title"
        "artwork genre"
        "artwork .";

      justify-items: center;
      align-items: center;
      display: grid;

      overflow: hidden;

      padding: 5px;

      .album__cover {
        border: 1px solid lighten($primary, 10%);
        grid-area: artwork;
        padding: 1px;
        height: 70px;
        width: 70px;

        pointer-events: none;

        &.noAlbumCover {
          border: none;
        }
      }

      .band__name,
      .album__title,
      .album__genre {
        padding: 0 5px 0 10px;
        white-space: nowrap;
        width: 100%;
      }

      .band__name {
        color: lighten($third, 25%);
        font-size: 16px;

        text-overflow: ellipsis;
        overflow: hidden;

        grid-area: band;
      }

      /* title and year */
      .album__title {
        grid-area: title;
        font-size: 14px;

        flex-direction: row;
        align-items: center;
        display: flex;

        overflow: hidden;
        text-overflow: ellipsis;

        .title {
          max-width: fit-content;
          padding-right: 10px;
          overflow: hidden;
          width: 100%;
          min-width: 10px;
          text-overflow: ellipsis;
        }

        .line {
          background-color: lighten($primary, 10%);
          height: 1px;
          width: 100%;
        }

        .album__year {
          padding-left: 10px;
          margin-left: auto;
          text-align: right;
        }
      }

      .album__genre {
        position: relative;
        font-size: 12px;

        text-overflow: ellipsis;

        grid-area: genre;

        &::after {
          background-color: lighten($primary, 10%);
          position: absolute;
          content: "";

          bottom: -5px;
          left: 10px;

          width: calc(100% - 10px);
          height: 1px;
        }
      }
    }

    /* <ul> element */
    .audio__list {
      list-style-type: none;
      padding: 0 5px;
      margin: 0;

      &.hidden {
        display: none;
      }

      li {
        justify-content: flex-end;
        align-items: center;
        display: flex;

        white-space: nowrap;

        padding: 3px 5px;
        margin: 0;

        &.selectedLi {
          background-color: lighten($primary, 4%);
        }

        &:hover {
          background-color: lighten($primary, 4%);
        }

        .track-nb,
        .song__duration {
          font-family: "Roboto-Medium";
          font-size: 13px;
        }

        .track-nb {
          margin-right: auto;
          text-align: left;
          width: 25px;
        }

        .song__title {
          text-overflow: ellipsis;
          overflow: hidden;
          padding: 0 4px;
          width: 100%;

          font-family: "Roboto-Medium";
        }

        .song__duration {
          text-overflow: ellipsis;
          overflow: hidden;
          // justify-content: flex-end;

          text-align: right;
          width: 75px;
        }
      }
    }
  }
}
